.prefix-user
{
  background-image: url( url-prefix-test.png ) !important;
  background-position: 0px 0px !important;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}

.prefix-info
{
  background-image: url( url-prefix-test.png ) !important;
  background-position: 0px -18px !important;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}

